<ion-header>
  <ion-toolbar color="warning">
    <ion-title><ion-text >Cuenta</ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()" slot="icon-only">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
 
  <ion-card class="ion-padding-vertical">

    <ion-row class="ion-justify-content-center">
      <img src="assets/img/imgicon.jpg" alt="icon" height="140">
    </ion-row>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        <ion-text>
          <b>
            Mesa Nº {{pedido.numeroMesa}} <br>
            Pedido - {{pedido.codigo}} <br>
            Cliente - {{cliente.nombre}}
          </b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" class="ion-text-center">
      <ion-list>
        <ion-item *ngFor="let p of pedido.productos">
          <ion-label>{{p.nombre}}</ion-label>
          <ion-badge slot="end">
            {{p.precio}}
          </ion-badge>
          <ion-badge slot="end">
            {{p.cantidad}}
          </ion-badge>
        </ion-item>

        <ion-text class="ion-text-end">
          <b>Propina: {{propina? propina: 0}}</b>
        </ion-text> 
        
        <br>

        <ion-text class="ion-text-end">
          <b>Precio total: $ {{precioTotal}}</b> 
        </ion-text>

      </ion-list>
      <ion-button expand="full" (click)="escanearPropina()">
        Escanear propina
      </ion-button>

      <ion-button color="success" expand="full" (click)="pagar()">
        Pagar
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>