ion-header {
  --background: linear-gradient(to right, #000000, #434343);
  padding-bottom: 2%;
  ion-toolbar {
    padding: 0 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    ion-title {
      font-weight: 800;
    }
  }
}

ion-content{
  --background: #0c0d0d;
}