<ion-header class="page-header ion-no-border ion-padding">
  <ion-toolbar class="bg-none">
    <ion-buttons slot="start">
      <ion-button color="light" routerLink="/home/cliente">
        <ion-icon style="color: black" name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="authService.logout()">
        <ion-icon style="color: black" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Mesa Nº {{mesa? mesa.numero: ''}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="pedido" class="ion-margin">
    <p slot="start">
      Pedido Nº {{pedido.codigo}}
    </p>

    <ion-badge slot="end" *ngIf="pedido.estado !== 'ENTREGANDO' else confirmar">
      {{
        pedido.estado === 'CONFIRMADO_CLIENTE'? 'RECIBIDO': pedido.estado
      }}
    </ion-badge>
    <ng-template #confirmar>
      <ion-button #btn slot="end" (click)="confirmarRecepcion()">
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ng-template>
  </ion-item>
  <ion-text color="light">
    {{pedido? pedido.estado: ''}}
  </ion-text>
  <ion-card class="ion-padding-vertical ion-activatable ripple-parent" 
            *ngIf="mesa && pedido && pedido.estado === 'CONFIRMADO_CLIENTE'"
            [disabled]="pedido.estado === 'PAGANDO'"
            (click)="pedirCuenta()"
  >
    <ion-ripple-effect></ion-ripple-effect>

    <ion-row class="ion-justify-content-center">
      <img src="assets/img/debit-card.png" alt="hamburger" height="200">
    </ion-row>
    <ion-card-header mode="ios">
      <ion-card-title class="ion-text-center">
        <ion-text color="light">
          <b>
            Pedir Cuenta
          </b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" class="ion-text-center">
      Presione para hacer el pedido de la cuenta
    </ion-card-content>
  </ion-card>


  <ion-card class="ion-padding-vertical ion-activatable ripple-parent" 
            [disabled]="pedido" 
            (click)="pedirProductos()" 
            *ngIf="mesa && pedido && pedido.estado !== 'CONFIRMADO_CLIENTE'"
            >
    <ion-ripple-effect></ion-ripple-effect>

    <ion-row class="ion-justify-content-center">
      <img src="assets/img/hamburger.png" alt="hamburger" height="200">
    </ion-row>
    <ion-card-header mode="ios">
      <ion-card-title class="ion-text-center">
        <ion-text color="light">
          <b>
            Ver el listado de productos
          </b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" class="ion-text-center">
      Presione para hacer el pedido de la mesa
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-vertical ion-activatable ripple-parent" (click)="consultaAlMozo()" *ngIf="mesa">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-row class="ion-justify-content-center">
      <img src="assets/img/chat.png" alt="chat" height="200">
    </ion-row>
    <ion-card-header mode="ios">
      <ion-card-title class="ion-text-center">
        <ion-text color="light">
          <b>
            Consulta al mozo
          </b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" class="ion-text-center">
      Presione para hacer una consultar sobre alguna inquietud.
    </ion-card-content>
  </ion-card>


  <ion-card class="ion-padding-vertical ion-activatable ripple-parent" *ngIf="mesa">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-row class="ion-justify-content-center">
      <img src="assets/img/completed-task.png" alt="chat" height="200">
    </ion-row>
    <ion-card-header mode="ios">
      <ion-card-title class="ion-text-center">
        <ion-text color="light">
          <b>
            Responder Encuesta
          </b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" class="ion-text-center">
      Presione para responder la encuesta.
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-padding-vertical ion-activatable ripple-parent" [disabled]="true" *ngIf="mesa">
    <ion-ripple-effect></ion-ripple-effect>
    <ion-row class="ion-justify-content-center">
      <img src="assets/img/poker-cards.png" alt="chat" height="200">
    </ion-row>
    <ion-card-header mode="ios">
      <ion-card-title class="ion-text-center">
        <ion-text color="light">
          <b>
            Juegos
          </b>
        </ion-text>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content mode="ios" class="ion-text-center">
      Los juegos estarán habilitados proximamente.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="actualizarEstadoMesa()">
    <ion-icon name="scan"></ion-icon>
  </ion-fab-button>
</ion-fab>
