<ion-header class="ion-no-border ion-padding">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="modalCtrl.dismiss()">
          <ion-icon color="light" name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <b>
      <ion-title color="light">Listado de productos</ion-title>
    </b>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">

  <ion-segment color="light" [(ngModel)]="segment" class="ion-margin-bottom">
    <ion-segment-button value="bebidas">
      <ion-label style="font-size: 25px;" color="light"><ion-icon name="beer-outline"></ion-icon></ion-label>
    </ion-segment-button>
    <ion-segment-button value="platos">
      <ion-label style="font-size: 25px;" color="light"><ion-icon name="pizza-outline"></ion-icon></ion-label>
    </ion-segment-button>

    <ion-segment-button value="escanear">
      <ion-label style="font-size: 25px;" color="light"><ion-icon name="scan-outline"></ion-icon></ion-label>
    </ion-segment-button>

    <ion-segment-button value="lista">
      <ion-label style="font-size: 25px;" color="light"><ion-icon name="list-outline"></ion-icon></ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-slides [options]="sliderConfig" *ngIf="segment === 'bebidas'">
    <ion-slide *ngFor="let bebida of bebidas">
      <ion-card>
        <ion-card-header mode="ios">
          <ion-card-title class="ion-text-center" color="light">{{bebida.nombre}} | ${{bebida.precio}}</ion-card-title>
            <ion-slides [options]="sliderImg"  mode="ios" pager="true">
               <ion-slide *ngFor="let foto of bebida.fotos">
                <img [src]="foto"  style="height:300px;width:300px">
               </ion-slide>
            </ion-slides>
        </ion-card-header>
        <ion-card-content mode="ios">
          <ion-button class="boton" color="success" expand="block" style="font-size: 40px;" (click)="agregarAlPedido(bebida)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-slides [options]="sliderConfig" *ngIf="segment === 'platos'">
    <ion-slide *ngFor="let plato of platos">
      <ion-card>
        <ion-card-header mode="ios">
          <ion-card-title class="ion-text-center" color="light">{{plato.nombre}} | ${{plato.precio}}</ion-card-title>
            <ion-slides [options]="sliderImg"  mode="ios" pager="true">
               <ion-slide *ngFor="let foto of plato.fotos">
                <img [src]="foto"  style="height:300px;width:300px">
               </ion-slide>
            </ion-slides>
        </ion-card-header>
        <ion-card-content mode="ios">
          <ion-button class="boton" color="success" expand="block" style="font-size: 40px;" (click)="agregarAlPedido(plato)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <div *ngIf="segment === 'escanear'">
    <img src="assets/img/qr_code.svg" alt="">

    <ion-row class="ion-justify-content-center">
      <ion-button color="warning" class="ion-text-center" style="font-size: 20px;" (click)="escanearProducto()">
          Escanear producto&nbsp;<ion-icon size="default" name="scan"></ion-icon>
      </ion-button>
    </ion-row>
  </div>

  <div *ngIf="segment === 'lista'">
    <h3 class="ion-text-center ion-margin ion-padding" *ngIf="pedido.length === 0" style="color: white;">No ha agregado ningún producto a la lista</h3>
    <ion-list class="ion-margin ion-padding lista" *ngIf="pedido.length > 0">
      <ion-item *ngFor="let item of pedido">
        <ion-avatar slot="start">
          <img [src]="item.fotos[0]">
        </ion-avatar>
        <ion-button slot="end" color="danger" (click)="eliminarUno(item)">
          <ion-icon name="close"></ion-icon>
        </ion-button>
        <ion-label>
          <h2 style="color:black">{{ item.nombre }}</h2>
          <p>{{ item.descripcion }}</p>
          <p>Cantidad: {{ item.cantidad }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-row class="ion-justify-content-center">
      <ion-button [disabled]="pedido.length === 0"
                  expand="block" 
                  color="success" 
                  class="boton" 
                  style="width: 300px;" 
                  (click)="confirmarPedido()">
        Confirmar Pedido&nbsp;
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-row>
  </div>
</ion-content>
<app-spinner *ngIf="cargando"></app-spinner>

<ion-footer>
  <ion-toolbar mode="ios" class="ion-justify-content-between ion-align-items-center">
    <ion-title color="light">Precio: ${{precioTotal}}</ion-title>
  </ion-toolbar>
</ion-footer>