ion-header {
  background: -webkit-linear-gradient(
    to right,
    #ffc837,
    #ff8008
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffc837,
    #ff8008
  );
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

ion-toolbar {
  --background: #0c0d0d;
}

ion-footer {
  border: 20px solid #0c0d0d;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

ion-button.boton-pedir {
  color: white;
  --background:  linear-gradient(
    to right,
    #ffc837,
    #ff8008
  );

  &:active {
    background-color:  black;
  }
}

ion-content{
  --background: #1e2020;
}

ion-card {
  --background:  #0c0d0d;
  border-radius: 44px;
  border: 1px solid white;
  box-shadow: 9px 19px 19px 9px  #1e2020;
}

ion-button {
  --border-radius	: 55px
}

ion-segment {
  --background: transparent;
}

.boton {
  margin: 0.2rem;
  margin-top: 0;
  padding: 0.2rem;
  height: 4rem;
  color: white;
}