<ion-header>
  <ion-toolbar color="warning">
    <ion-title *ngIf="empleado"><ion-text>
      {{empleado.tipo | tipoEmpleado}}
    </ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="empleado">

  <ion-row class="ion-justify-content-center ion-margin-bottom">
    <img src="assets/img/waiters.png" alt="maitre" *ngIf="esMetre(empleado)" class="imagen">
    <img src="assets/img/food.png" alt="mozo" *ngIf="esMozo(empleado)" class="imagen">
    <img src="assets/img/bartender.png" alt="bartender" *ngIf="esBartender(empleado)" class="imagen">
    <img src="assets/img/chef.png" alt="cocinero" *ngIf="esCocinero(empleado)" class="imagen">
  </ion-row>

  <ion-button class="boton" 
              color="primary" 
              expand="block" 
              (click)="irALaEncuesta(empleado)"
  >
    <ion-text color="light">Cargar encuesta de trabajo</ion-text>&nbsp;
    <ion-icon name="checkbox-outline" color="light"></ion-icon>
  </ion-button>
  <ion-button class="boton" 
              color="tertiary" 
              expand="block" 
              (click)="IrAgregarProducto(empleado)"
              *ngIf="esBartenderOCocinero(empleado)"
  >
      Agregar Producto&nbsp;
      <ion-icon name="pizza-outline"></ion-icon>&nbsp;
      <ion-icon name="beer-outline"></ion-icon>
  </ion-button>

  <ion-button class="boton" 
              color="secondary"
              expand="block"
              (click)="hacerPedido()"
              *ngIf="esMozoOMetre(empleado)">
    Hacer pedido&nbsp;
    <ion-icon name="restaurant-outline"></ion-icon>
  </ion-button>

  <ion-button class="boton" 
              color="tertiary"
              expand="block"
              routerLink="lista-espera-metre-cliente"
              *ngIf="esMetre(empleado)">
  Lista de espera clientes&nbsp;
  <ion-icon name="people-outline"></ion-icon>
  </ion-button>

  
  <ion-button class="boton" 
              color="tertiary"
              expand="block"
              (click)="verChats()"
              *ngIf="esMozo(empleado)">
  Responder Consultas&nbsp;
  <ion-icon name="people-outline"></ion-icon>
  </ion-button>

  <ion-button class="boton" 
              color="tertiary"
              expand="block"
              routerLink="pedidos-pendientes"
              *ngIf="esMozo(empleado)">
      Pedidos Pendientes&nbsp;
    <ion-icon name="timer-outline"></ion-icon>
  </ion-button>

  
  <ion-button class="boton" 
              color="tertiary"
              expand="block"
              routerLink="pedidos-entregar"
              *ngIf="esMozo(empleado)">
      Pedidos A Entregar&nbsp;
      <ion-icon name="checkmark-outline"></ion-icon>
  </ion-button>

  <ion-button class="boton" 
              color="tertiary"
              expand="block"
              routerLink="confirmar-pagos"
              *ngIf="esMozo(empleado)">
      Pagos a confirmar&nbsp;
      <ion-icon name="wallet-outline"></ion-icon>
  </ion-button>
  
  <ion-button class="boton" 
              color="secondary"
              expand="block"
              (click)="verListaTareas()"
              *ngIf="!esMozoOMetre(empleado)">
    Ver Tareas&nbsp;
    <ion-icon name="list-outline"></ion-icon>
  </ion-button>
</ion-content>
