<ion-header>
  <ion-toolbar color="warning">
    <ion-title><ion-text >Empleado</ion-text></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" *ngIf="empleado">
  <ion-button class="boton" 
              color="primary" 
              expand="block" 
              (click)="irALaEncuesta(empleado)"
  >
    Cargar encuesta de trabajo&nbsp;
    <ion-icon name="checkbox-outline"></ion-icon>
  </ion-button>
  <ion-button class="boton" 
              color="primary" 
              expand="block" 
              (click)="IrAgregarProducto(empleado)"
              *ngIf="esBartenderOCocinero(empleado)"
  >
      Agregar Producto&nbsp;
      <ion-icon name="pizza-outline"></ion-icon>&nbsp;
      <ion-icon name="beer-outline"></ion-icon>
  </ion-button>
</ion-content>
