<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Supervisor</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon name="person-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button class="boton"
   expand="block" routerLink="alta">
   <img src="../../../assets/img/agent.png" alt="">
    <ion-text >Alta Dueño / Supervisor</ion-text>
  </ion-button>
  <ion-button expand="block" routerLink="alta-empleado" class="boton">
    <img src="../../../assets/img/anonymous_1.png" alt="">
    <ion-text >Alta Empleado</ion-text>
  </ion-button>
  <ion-button expand="block" routerLink="registros-pendientes" class="boton">
    <img src="../../../assets/img/anonymous_1.png" alt="">
    <ion-text >Registros Pendientes</ion-text>
  </ion-button>
</ion-content>
