.icon {
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 120px;
  width: 200px;
  height: 200px;
	-webkit-animation: ping 2s ease-in-out infinite both;
	animation: ping 2s ease-in-out infinite both;
}

@-webkit-keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}
@keyframes ping {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(2.2);
            transform: scale(2.2);
    opacity: 0;
  }
}