<ion-header class="ion-no-border">
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button routerLink="../">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title text-center slot="start">Alta de Mesa</ion-title>
  </ion-toolbar>
</ion-header>

<form class="form" [formGroup]="form">
  <img class="img" [src]="imagenPrevista" alt="imagen" width="100" height="100">

  <ion-item>
    <ion-label position="floating">Número de mesa</ion-label>
    <ion-input type="number" [(ngModel)]="numeroDeMesa" formControlName="numeroDeMesa" ></ion-input>  
  </ion-item>

  <!--
    <small *ngIf="numeroNoValido" class="validation-errors">
      Ingrese numero de Mesa.
    </small>-->

  <ion-item >
    <ion-label position="floating">Cantidad de comensales</ion-label>    
    <ion-input type="number" maxlength='2' [(ngModel)]='comensales' formControlName="comensales"></ion-input>
  </ion-item>

  <!-- <small *ngIf="comensalesNoValido" class="validation-errors">
      Ingrese cantidad de comensales(Mínimo 2).
    </small>-->

  <ion-item>
    <ion-label>Tipo de mesa</ion-label>
    <ion-select placeholder="Seleccionar" name="tipo" [(ngModel)]='tipo' formControlName="tipo">
      <ion-select-option value="NORMAL">NORMAL</ion-select-option>
      <ion-select-option value="VIP">VIP</ion-select-option>
      <ion-select-option value="DISCAPACITADOS">DISCAPACITADOS</ion-select-option>
    </ion-select>
  </ion-item>
  <!--
  <small *ngIf="tipoNoValido" class="validation-errors">
    Ingrese un tipo de mesa.
  </small>-->

  <ion-button class="boton" (click)="sacarFoto()">Sacar Foto</ion-button>
  <ion-button class="boton" expand="block" color="warning" [disabled]="!fotoCargada" (click)="registrar()">Registrar</ion-button>
</form>