<ion-header>
  <ion-toolbar color="warning">
    <ion-title><ion-text>
      Tareas
    </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="cerrar()">
        <ion-icon name="return-up-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-card *ngFor="let tarea of tareas">
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Pedido - Nº {{tarea.codigo}}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <!-- si es bartender le aparecerá solo bebidas -->
      <ion-list *ngIf="tipo === 'bartender'">
        <ion-item *ngFor="let producto of tarea.bebidas.productos">
          <ion-avatar slot="start">
            <img [src]="producto.fotos[0]">
          </ion-avatar>
          
          <ion-label>
            {{producto.cantidad}} {{producto.nombre}}
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- si es cocinero le aparecera solo platos -->
      <ion-list *ngIf="tipo === 'cocinero'">
        <ion-item *ngFor="let producto of tarea.platos.productos">
          <ion-avatar slot="start">
            <img [src]="producto.fotos[0]">
          </ion-avatar>
          
          <ion-label>
            {{producto.cantidad}} {{producto.nombre}}
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button [disabled]="tipo === 'cocinero'? tarea.platos.completado: tarea.bebidas.completado" 
                  color="success" 
                  shape="round" 
                  expand="block" 
                  fill="clear" 
                  (click)="completarTarea(tarea)">
        Completar&nbsp;
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>