<ion-header>
  <ion-toolbar color="warning">
    <ion-title><ion-text >Agregar {{empleado.tipo == 1? 'Plato': 'Bebida'}}</ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/home/empleado" slot="icon-only" [disabled]="enEspera">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="background">

  <ion-row class="ion-justify-content-evenly ion-no-margin">
    <img [src]="preVistaFotos[0]" alt="imagen" width="150" height="150">
    <img [src]="preVistaFotos[1]" alt="imagen" width="150" height="150">
    <img [src]="preVistaFotos[2]" alt="imagen" width="150" height="150" class="ion-margin-top">
  </ion-row>

  <ion-item lines="none">
    <ion-label position="floating">Id</ion-label>
    <ion-input type="text" name="id" [(ngModel)]="id" disabled></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" name="nombre" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Descripcion</ion-label>
    <ion-input type="text" name="descripcion" [(ngModel)]="descripcion"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Tiempo de preparación</ion-label>
    <ion-input type="text" name="tiempoPreparacion" [(ngModel)]="tiempoPreparacion"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label position="floating">Precio</ion-label>
    <ion-input type="text" name="precio" [(ngModel)]="precio"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label style="font: oblique bold 120% cursive;">Tipo</ion-label>
    <ion-select placeholder="Seleccionar" name="perfil" [(ngModel)]="tipo">
        <ion-select-option value="plato" disabled>Plato</ion-select-option>
        <ion-select-option value="bebida" disabled>Bebida</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row class="ion-justify-content-around ion-margin-vertical">
    <ion-button class="ion-text-center" color="danger" (click)="tomarFoto()">
      <ion-icon slot="icon-only" name="camera"></ion-icon>
    </ion-button>
    
    <ion-button class="ion-text-center" color="danger" (click)="subirFotoGaleria()">
      <ion-icon name="image-outline"></ion-icon>
    </ion-button>

    <ion-button class="ion-text-center" color="danger" (click)="escanear()">
      <ion-icon slot="icon-only" name="scan-circle"></ion-icon>
    </ion-button>

    <ion-button class="ion-text-center" color="danger" (click)="limpiarForm()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-row>

  <ion-button color="warning" expand="block" class="boton" (click)="registrar()" [disabled]="enEspera">Registrar</ion-button>
</ion-content>
<app-spinner *ngIf="enEspera"></app-spinner>

