<ion-header>
  <ion-toolbar color="danger">
    <ion-title><ion-text color="light">
      Lista de espera clientes
    </ion-text></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss()" slot="icon-only">
        <ion-icon color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item *ngFor="let c of clientesEnEspera">
    <ion-avatar slot="start">
      <img [src]="c.foto">
    </ion-avatar>

    <div slot="end">
      <ion-button (click)="asignarMesa(c)" color="light" size="small">Asignar mesa</ion-button>
      <ion-button color="danger" (click)="cancelarCliente(c)">
        <ion-icon slot="icon-only" color="light" name="close"></ion-icon>
      </ion-button>
    </div>
    

    <ion-label>
      <h4>{{c.nombre}}</h4>
      <h4>{{c.apellido}}</h4>
      <p style="font-size: 11px;font-weight: bold;">{{c.correo}}</p>
    </ion-label>
  </ion-item>

</ion-content>